html,
body,
.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/* 
#changeType {
  position: absolute;
  z-index: 100;
  right: 20px;
}
.searchByCity-container {
  background-color: #051339;
}
.search-container {
  position: absolute;
  left: 50%;
  margin: 10px 0 0 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 3px 9px 3px 3px;
}
.searchByCity-container > i {
  color: #ffffff;
  padding-left: 100px;
}
.typeOfCrime-container {
  width: 140px;
  background-color: #051339;
  position: absolute;
  right: 20px;
  margin: 10px 0 0 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 3px;
}

#searchByCity {
  border-radius: 15px 0px 0px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 25px;
  text-indent: 10px;
  width: 150px;
}

#searchByYear {
  border-radius: 0px 15px 15px 0px;
  outline: none;
  border: none;
  height: 25px;
  position: absolute;
  left: 150px;
  width: 100px;
}
.card {
  background: none !important;
  outline: none !important;
  border: none !important;
  padding: 2px !important;
  overflow: auto;
  max-height: 400px;
}
.card::-webkit-scrollbar {
  width: 5px !important;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ffffff;
}

#crime-dropDown {
  margin-top: 10px;
}
.typeOfCrime-container p {
  margin: 3px !important;
}
#crime-filter {
  border-radius: 10px;
  width: 100%;
  background: #ffffff;
  color: #051339;
}
ul {
  list-style-type: none;
  padding: 2px;
}
li {
  margin-bottom: 2px;
  border-bottom: 1px solid #cccccc;
  color: #ffffff;
}

.searchByCity-container i {
  color: #ffffff;
  position: absolute;
  right: 5px;
}

button span {
  color: #ffffff;
} */

.input-container {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;
  width: 500px;
  height: 65px;
  background-color: #051339;
  border-radius: 10px;
}

.date-container {
  position: relative;
  width: 100%;
  margin: 0 !important;
}
.date-container p {
  color: #ffffff;
}
.date-container div input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 30px;
  text-indent: 5px;
}
ul {
  list-style-type: none;
  padding: 2px;
}
li {
  margin-bottom: 2px;
  border-bottom: 1px solid #020716;
  color: #051339;
}
.card {
  outline: none !important;
  border: none !important;
  padding: 2px !important;
  overflow: auto;
  max-height: 400px;
}
.card::-webkit-scrollbar {
  width: 5px !important;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ffffff;
}

#type-filter {
  background-color: #ffffff;
  height: 30px;
  width: 100%;
  line-height: 0;
}

.type-label {
  width: 100px;
  margin-bottom: 0px;
}
/* calendar */
.ui-datepicker {
  margin-top: 5px;
  width: 220px !important;
}

i {
  margin-top: 18px;
}
